:root {
  --bg: #f3f1f1;
  --card-bg: #a694f886;
  --text: #f3f3f3;
  --shadow-dark: rgba(93, 58, 107, 0.678);
  --shadow-light: rgba(186, 174, 252, 0.863);
  --accent: #8a89b6;
  --radius: 10px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  background-color: rgb(169, 154, 211);
  border-radius: var(--radius);
  padding: 0.75rem;
  font-size: 1rem;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  margin-bottom: 10px;
  border-color: rgb(202, 158, 231);
  margin-bottom: 30px;
}

input::placeholder {
color: rgb(102, 102, 102);
transition: color 0.3s ease;
}

input:hover::placeholder {
color: rgb(83, 82, 82);
}

input:hover {
 background-color: rgb(198, 183, 241);
}


button {
  color: rgb(75, 75, 75);
  margin-left: 65px;
  background-color: rgba(250, 236, 198, 0.904);
  border: none;
  height: 35px;
  width: 100px;
  border-radius: var(--radius);
  font-size: 1.2rem;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
  box-shadow: 0 3px 0px rgba(252, 241, 207, 0.884), 0 -2px 0px rgba(211, 198, 161, 0.884);
}

button:hover {
  background-color: rgba(196, 175, 120, 0.904);
  transform: scale(1.03);
  color: rgb(240, 236, 236);
  box-shadow: 0 3px 0px rgba(160, 150, 119, 0.884), 0 -2px 0px rgba(211, 198, 161, 0.884);
}


body  {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--text);
  justify-content: center;
  align-items: center;
  background-color: #e6d7ec;
  height: 100vh;
}

.container {
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: var(--card-bg);
  padding: 2rem;
  border-radius: var(--radius);
  box-shadow: 0 1px 3px var(--shadow-dark);
  flex-direction: column;
  gap: 1rem;
  width: 300px;
  height: 240px;
}


.cabecalho {
  margin-bottom: 30px;
  color: rgb(167, 129, 175);
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
